/*Select All*/
*{
    font-family: "Tahoma";
}

/*Select Inner*/
ul li{
    font-style: italic;
}

/*Select at once*/
li.key{
    color: brown;
}

/*Status select*/
li:hover {
    background-color: rgb(131, 110, 110);
    color: aliceblue;
}